@model RPPP_WebApp.Model.Vegetation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Vegetation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Units)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Units)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RemovedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RemovedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YieldAnticipatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YieldAnticipatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiryAnticipatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpiryAnticipatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantClass.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plot.IdPlot)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdVegetation">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
