@model RPPP_WebApp.Model.PlantClass

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PlantClass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiberPerServing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiberPerServing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PotassiumPerServing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PotassiumPerServing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parent.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPlantClass" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <div>
            <a class="btn btn-info text-white mt-3 mb-3" asp-action="Details" asp-controller="Recipe" asp-route-id="@Model.IdPlantClass" asp-route-entityType="PlantClass">Back to list</a>
        </div>
    </form>
</div>
